{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
    <table>
        <thead>
        <th>Categories</th>
        </thead>
        <tbody>
        {% for category in categorys %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td><a href="{{ path('category_category_show', { categoryName: category.name }) }}">
                    Voir
                </a>
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
