{% extends 'base.html.twig' %}

{% block body %}
    <table>
        <thead>
        <th>Series</th>
        </thead>
        <tbody>
        {% for program in programs %}
            <tr>

                <td>{{ program.id }}</td>
                <td>{{ program.title }}</td>
                <td>
                    <a href="{{ path('program_program_show', { programId: program.id }) }}">
                        Voir
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

