{% extends 'base.html.twig' %}

{% block body %}
    <table>
        <thead>
        <th>Series</th>
        </thead>
        <tbody>
            <tr>
                <td>{{  programById.id }}</td>
                <td>{{  programById.title }}</td>
                <td>{{  programById.summary }}</td>

            </tr>
        </tbody>
    </table>
{% endblock %}